
$primary: #01539f;
$primaryDark: #004b90;
$secondary: #5cb85c;
$theme: #333c49;

$lightGray: #AFB0B4;
$lightLine: #E0E1E5;
$partialGray: #828287;
$normalGray: #636467;
$mediumGray: #505154;
$mediumGrayPlus: #333333;
$darkGray: #000000;

$borderLight: rgba(224,225,229,0.6);

$linkBlue: #5697E4;


$minWidth: 'min-width';
$maxWidth: 'max-width';
$xs: 560px;
$sm: 768px;
$md: 992px;
$mc: 1080px;
$lg: 1200px;
$xlg: 1326px; /* for 1366 resolution */
$xxlg: 1400px; /* for 1440 resolution */
$xxxlg: 1560px; /* for 1600 resolution */
